@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row" id="step1">
    <div class="col-md-12 col-sm-12">
        <h2>Choose a game</h2>
        <div id="options1"></div>
    </div>
</div>

<div class="row hidden" id="step2">
    <div class="col-md-12 col-sm-12">
        <h2>Choose game mode</h2>
        <div id="options2"></div>
    </div>
</div>

<div class="row hidden" id="step3">
    <div class="col-md-12 col-sm-12">
        <h2>Playing <span id="gamename"></span></h2>

        <div class="col-sm-6" style="text-align:left; color:green">
            <span id="player1name"></span><br />
            <span style="font-weight:bold; font-size:16px" id="player1score"></span>
        </div>

        <div class="col-sm-6" style="text-align:right; color:green">
            <span id="player2name"></span><br />
            <span style="font-weight:bold; font-size:16px" id="player2score"></span>
        </div>

        <div class="col-sm-12" style="padding:10px; margin-top:10px; background-color:beige; min-height:300px" id="gamepad">

        </div>

        <div class="col-sm-12">
            Choose Your Move <b id="playernow"></b> <span id="pieces" style="font-size:22px"></span>
        </div>

        <div id="playagain" class="hidden">
            <button class="btn btn-success replay">Play Again</button>&nbsp;&nbsp;
            <button class="btn btn-danger startover">Start Over</button>
        </div>

    </div>
</div>


@section Scripts {
    <script>
        gamesApi.loadGames();
    </script>
}